<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blockchain Transaction Form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>Make a Transaction</h1>
    <form id="transaction-form">
      <label for="from">From:</label><br>
      <input type="text" id="from" name="from"><br>
      <label for="to">To:</label><br>
      <input type="text" id="to" name="to"><br>
      <label for="amount">Amount:</label><br>
      <input type="text" id="amount" name="amount"><br><br>
      <button type="submit">Submit</button>
    </form> 
    <div id="blockchain-display"></div>
    <script src="/static/script.js"></script>
  </body>
  <body>
    <h1>Blockchain</h1>
    <button id="get-chain-button" onclick="displayBlockchain()">Get Blockchain</button>
    <div id="blockchain-display"></div>
    <a id="download-link" download="blockchain.txt" style="display:none;"></a>
    <button id="download-button" onclick="downloadBlockchain()">Download Blockchain</button>
  </body>
</html>